@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
} */

/* :root {
  --foreground-rgb: #000000;
  --background-start-rgb: #f1f5f9;
  --background-end-rgb: #ebf2fa;
} */

:root {
  --foreground-rgb: #000000;
  --background-start-rgb: #ffffff;
  --background-end-rgb: #ffffff;
}

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 50, 50, 50;
  --background-end-rgb: 50, 50, 50;
} */

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .translucent-rounded-container {
    @apply shadow-xl rounded-xl bg-white/25 backdrop-blur;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold text-text-primary leading-tight tracking-tight;
  }
  h2 {
    @apply text-2xl font-semibold text-text-primary leading-snug tracking-tight;
  }
  h3 {
    @apply text-xl font-semibold text-text-primary leading-snug;
  }
  h4 {
    @apply text-lg font-medium text-text-secondary leading-normal;
  }
  h5 {
    @apply text-base font-medium text-text-secondary leading-normal;
  }
  h6 {
    @apply text-base font-medium text-text-tertiary uppercase tracking-wide;
  }
  p {
    @apply text-base text-text-secondary leading-relaxed;
  }
  small {
    @apply text-sm text-text-tertiary;
  }
  label {
    @apply text-sm text-text-secondary leading-normal;
  }
}
